@import 'colours.scss';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    //image from pexels.com by user Markus Spiske
    background: url('../images/newspaper.jpg');
    background-position: center;
    background-size: cover;
}

main {
    flex: 2;
}

section {
    border: 1px solid #545454;
    border-radius: 0.5em;
    width: 800px;
    margin: 5% 2%;
    background: rgba($color: $primary, $alpha: 0.8);

    &.article-data {
        border: 0;
        margin: 0;
        padding: 10px;
        background: 0;
        color: $secondary;
        font-family: 'Roboto Slab', serif, Arial;

        .extra {
            margin-top: 25px;
            line-height: 1.5em;
        }

        article {
            margin: 25px 0 15px 0;
            line-height: 1.5em;

            p {
                margin-bottom: 10px;
            }
        }
    }
}
