@import 'colours.scss';

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 40px 20px 40px;
    background: rgba($color: $secondary, $alpha: 0.6);
    font-family: 'Roboto slab', serif, Arial;
    font-weight: 800;
    justify-content: space-between;

    #to-top {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    a {
        text-decoration: none;
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }
}