@import 'colours.scss';

form {
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;

    &#submit-btn {
        border: 1px solid $primary;
        border-radius: 1em;

        &:hover {
            background: $primary;
            color: $secondary;
        }

        &:active {
            background: $secondary;
            color: $primary;
        }
    }
}
