header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 10px 40px;
    flex-direction: row;
    align-items: flex-end;
    width: 100vw;

    @media (min-width: 950px) {
        align-self: center;
        width: 950px;
    }
}
